body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-width: 100vh;
}

.container{
    flex: 1;

}


/* navbar */
.navbar{
    height: 5rem;
   background-color: #ffff;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
    margin-left: 1rem;
}

.nav-link{
    color: #222222 !important;
}

/* footer */
.f-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(249, 249, 249);
    text-align: center;
    height: 8rem;
   
}
.f-info-socials .f-info-privacy{
    width: 100%;
}

.f-info-socials i{
    margin-right: 1.25rem;
}


.f-info-company{
    margin-right: 1rem;
    font-size: 0.90rem;
    width: 100%;
}

.f-info-privacy a{
    text-decoration: none;
    color: #222222;
    margin-right: 1rem;
    font-size: 0.90rem;
}

.f-info-privacy a:hover{
    text-decoration: underline;
}

/* listings page */
.card{
    border: none !important;
    margin-bottom: 2rem;
    /* width: 22rem; */
}

 .card-body{
    padding:0 !important;
}

.anchor-card{
    text-decoration: none;
}

.card-text{
    font-weight: 400 !important;
    line-height: 1rem;
    margin-top: 1rem !important;
    width: 100%;
} 

.card-image{
    border-radius: 1rem !important; 
    width: 100% !important;
    height: 20rem !important;
    object-fit: cover !important;
}

.card-img-overlay{
    opacity:0;
}

.card-img-overlay:hover{
    opacity:0.2;
    background-color: white;
}

/* new page */
.heading{
    margin: 0.5rem 0 2rem 11rem !important;
}

.new-btn{
    background-color: #fe424d !important;
    border: none !important;
}


/* edit page */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* show-page */
.show-image{
    height: 40vh;
}

.btns{
    display: flex;
}

.show-card{
    border: none !important;
    padding-left: 0;
    padding-right: 0;
    border-radius: 5rem !important;
}

/* .form-label::after{
    content: ' *';
    color: red;
} */